{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div class="container">
  <h1>Product</h1>
  <div class="row">
    {%for i in products%}
    <div class="col s6 m6">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='img/produc.png')}}" />
          <span class="card-title">{{i.name}}</span>
          <form action="product/edit/" method="PUT">
            <button
            class="btn-floating halfway-fab waves-effect waves-light red"
              name="delete"
            >
              <i class="material-icons">add</i></a
              >
            </button>
          </form>
        </div>
        <div class="card-content">
          <p>
            {{i.id}}
            <span>Precio: {{i.price}}</span>
            <span>Categoria: {{i.category}}</span>
            <span>Cantidad: {{i.count}}</span>
          </p>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock %}
