{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div class="container">
  <h1>Invoque</h1>
  <div class="row">
    {%for i in invoque%}
    {% set edit = '/invoque/edit/'~i.id~''%}
    {{i}}
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/office.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Invoque #{{i.id}}<i
            class="material-icons right">more_vert</i></span>
        <p><a href="{{edit}}">Edit</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock %}